body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.geocoder {
  display: flex;
  justify-content: space-between;
}

.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav-container .mat-sidenav {
  padding: 10px;
}


.fab {
  background: whitesmoke;
  color: black;
  transition: all .5s ease .1s;
  z-index: 1000;
  position: fixed !important;
  top: 10px;
  left: 10px;
}

.menu {
  transition: all .5s ease .1s;
}

.menuHeader {
  cursor: default;
  transition: all .2s ease;


  img {
    height: 64px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: all 0.5s ease !important;
  }

  h1 {
    font: 700 44px/52px Limelight, 'Limelight', cursive;
    color: white;
  }

  h1 .first {
    background: #0099ff;
    padding: 2px;
  }

  h1 .second {
    background: #004d80;
    padding: 4px;
  }

  .mat-icon-button {
    height: initial !important;
  }

  & > i {
    color: #a70532;
    vertical-align: 0.9em;
  }
}
.home-card {
  border-radius: 4px;
  margin-top: 10px;
  padding: 0;
  max-width: 320px;

  .mat-card-image {
    margin: 0;
    height: 100%;
  }

  .home-card-content {
    display: flex;
    justify-content: space-between;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
      max-width: 50%;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        flex-direction: column;
        align-items: start;
        padding: 8px;
      }
    }
  }
}
.home-card:hover {
  border-right: 2px solid #3f51b5;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.example-viewport {
  height: 80vh;
  max-height: 80vh;
  width: 300px;
  max-width: 300px;
}
.list {
  max-width: fit-content !important;
  overflow-y: auto;
}
mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  transition: all 0.5s ease !important;
}
