
.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav-container .mat-sidenav {
  background: #21303E !important;
  padding: 10px;
  min-width: 150px;
}

.mat-sidenav-container .mat-sidenav label {
  color: whitesmoke;
  //font: 500 20px/32px, 'Limelight', cursive;;
}

//.mat-sidenav-container .mat-sidenav nav {
//  margin-top: 15px !important;
//}

.mat-sidenav-container .mat-sidenav nav button {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar {
  z-index: 9999;
  background: #21303E;
  color: whitesmoke;
  font-size: 2rem;
  padding: 0;
  height: 70px;
}


.mat-sidenav-container .mat-sidenav-content .mat-toolbar header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidenav-content {
  overflow: hidden !important;
}


.mat-sidenav-container .mat-sidenav-content .mat-toolbar header .logo {
  font-size: 30px;
  margin: auto 0 auto 0;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header .mat-icon {
  display: none;
  cursor: pointer;
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav button {
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav button:hover {
  background: #049CE4;
  color: whitesmoke;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav button.active {
  color: #049CE4;
  background-color: rgba(0, 0, 0, 0.2);
}
.menuHeader {
  cursor: default;
  transition: all .2s ease;
  text-align: center;

  img {
    height: 64px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: all 0.5s ease !important;
  }

  h1 {
    font: 700 28px/36px Limelight, 'Limelight', cursive;
    color: white;
  }

  h1 .first {
    background: #0099ff;
    padding: 2px;
    vertical-align: super;
  }

  h1 .second {
    background: #004d80;
    padding: 4px;
  }

  .mat-icon-button {
    height: initial !important;
  }

  & > i {
    color: #a70532;
    vertical-align: 0.9em;
  }
}

.rentTimeWrapper {
  justify-content: space-between;
  display: flex;
  margin: 0 15px;
}


.startRentTime {
  margin-right: 15px;
}

.geocoder {
  z-index: 2;
  margin: auto 0 auto 0;
}

@media screen and (max-width: 1023px) {
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar {
    padding-right: 10px;
    padding-left: 5px;
  }
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header .mat-icon {
    display: block;
    cursor: pointer;
  }
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav {
    display: none;
  }
  .mat-sidenav-container .mat-sidenav-content section {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header {
    margin: 0 30px 0 30px;
  }
  .mat-sidenav-container .mat-sidenav-content section {
    margin: 0 auto;
  }
}


