<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <div class="menuHeader">
      <h1><span class="first">Rent</span><span class="second">Parking</span></h1>
    </div>
    <hr/>
    <nav>
      <button mat-button routerLink="home" (click)="clickHandler()" routerLinkActive="active">Home</button>
      <button mat-button routerLink="about" (click)="clickHandler()" routerLinkActive="active">About</button>
      <button mat-button *ngIf="!isLoggedIn" routerLink="login" (click)="clickHandler()" routerLinkActive="active">Login</button>
      <button mat-button *ngIf="!isLoggedIn" routerLink="register" (click)="clickHandler()" routerLinkActive="active">Sign Up</button>
      <button mat-button *ngIf="!isLoggedIn" routerLink="profile" (click)="clickHandler()" routerLinkActive="active">Profile</button>
      <button mat-button *ngIf="isLoggedIn"  (click)="clickHandler(); logout()" routerLinkActive="active">Logout</button>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content (scroll)="onScroll($event)" class="sidenav-content">
    <mat-toolbar class="mat-elevation-z11" color="primary">
      <header>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        <div class="menuHeader">
          <h1><span class="first">Rent</span><span class="second">Parking</span></h1>
        </div>
        <nav>
          <button mat-button routerLink="home" routerLinkActive="active">Home</button>
          <button mat-button routerLink="about" routerLinkActive="active">About
          </button>
          <button mat-button routerLink="login" *ngIf="!isLoggedIn" routerLinkActive="active">Login
          </button>
          <button mat-button routerLink="register" *ngIf="!isLoggedIn" routerLinkActive="active">Sign Up
          </button>
          <button mat-button routerLink="profile" *ngIf="isLoggedIn" routerLinkActive="active">Profile
          </button>
          <button mat-button *ngIf="isLoggedIn" (click)="logout()" routerLinkActive="active">Logout
          </button>
                 </nav>
      </header>
    </mat-toolbar>
    <section>
     <router-outlet></router-outlet>
<!--      <app-map></app-map>-->
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
