.background {
  width: 100%;
  height: 100vh;
  background: url('https://c1.wallpaperflare.com/preview/349/256/942/parking-garage-empty-underground-basement.jpg') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin: 0 !important;
}
