

.profileImage {
  border-radius: 50% !important;
  max-width: 20em;
  min-height: 17.5em;
}

.mycont {
  position: relative;
}



.bookings {
  width: 70em;
  height: 45em;
  text-align: justify;
  margin-left: inherit;
}



mat-form-field {
  width: 16em;
  font-size: 1.5em;
}

:host ::ng-deep .details {
  margin-top: 3em !important;
  margin-left: 13em !important;
  display: inline-flex;
}

:host ::ng-deep label.mat-form-field-label {
  color: #006600 !important;
  font-size: 1.25em !important;
}

.passBtn {
  width: 70%;
  border-radius: 30px !important;
  float: inherit !important;
  margin-bottom: 0.5em !important;
}

.details mat-card {
  text-align: center !important;
  width: 25em;
  border-right: lightgray 1px solid;
}

:host ::ng-deep mat-card {
  text-align: left !important;
}

.mat-card-title {
  font-size: 2em;
}

.mat-card-subtitle {
  font-size: 1.5em;
}

.mat-menu-item i {
  vertical-align: middle !important;
}

.mat-menu-item {
  color: #006600;
  width: 19.5em !important;
}

:host ::ng-deep .mat-card-header .mat-card-header-text {
  width: 100% !important;
}


.bottomContent {
  width: 100%;
  margin: 0 !important;
}

.bookingStatus {
  float: right;
}

.bookingPrice {
  float: left;
}



.home-card {
  border-radius: 4px;
  margin-top: 10px;
  padding: 0;
  border: 1px solid #ccc !important;

  .mat-card-image {
    margin: 0;
    height: 100%;
  }

  .home-card-content {
    display: flex;
    justify-content: space-between;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
      max-width: 50%;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        flex-direction: column;
        align-items: start;
        padding: 8px;
      }
    }
  }
}

.home-card:hover {
  border-right: 2px solid #3f51b5;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

