<div class="details">
  <mat-card class="info">
    <mat-card-header>
    </mat-card-header>
    <div class="mycont">
      <img src="https://lh3.googleusercontent.com/a/AATXAJymt7YiT-UM1NDYK-Fov3MOlGUoL4VAB8MzMU7J=s96-c" mat-card-image  class="profileImage" alt="User">
    </div>
    <mat-card-content>
      <form >
        <mat-form-field>
          <input readonly matInput  placeholder="Full name" >
        </mat-form-field><br>

        <mat-form-field>
          <input readonly matInput  placeholder="Email" >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
<!--  <div class="projects">-->
<!--    <h2 class="dropTitle">My Projects</h2>-->
<!--    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">-->
<!--      <div class="example-box" *ngFor="let project of projectList" cdkDrag>{{project.name}}</div>-->
<!--    </div>-->
<!--  </div>-->
</div>
