@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #049CE4;
  border-radius: 10px;
}
