<div id="home" class="background">
  <div class="rentTimeWrapper">
    <h1>Find parking in seconds</h1>
    <div class="rentTime">
      <div id="geocoder1" class="geocoder">
      </div>
      <mat-form-field class="startRentTime" appearance="outline">
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Start" class="pickerInput" readonly>
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker>
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field class="startRentTime" appearance="outline">
        <input matInput [ngxMatDatetimePicker]="picker1" placeholder="End" class="pickerInput" readonly>
        <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1>
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>
</div>


