.background {
  width: 100%;
  height: 100vh;
  background: url('https://wallpaperaccess.com/full/4327781.jpg') no-repeat;
  background-size: cover;
  color: white;
  //text-align: center;
  margin: 0 !important;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
  }
}
.rentTime{
  margin-bottom: 100px;
}

.rentTimeWrapper {
  margin: auto 55px;
  max-width: 500px;
}

::ng-deep .mapboxgl-ctrl-geocoder{
  margin: auto !important;
  min-width: 100% !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
 }

::ng-deep .mat-input-element {
  color: rgba(0, 0, 0, 0.75);
}
.mat-tab-group {
  background: #21303E !important;
}

::ng-deep .mat-tab-label {
  font-weight: bold !important;
  color: white !important;
}

.pickerInput {
  color: gray !important;
}

.searchParkingBtn {
  width: 100% !important;
}
