.background {
  width: 100%;
  height: 50vh;
  background: url('https://c4.wallpaperflare.com/wallpaper/886/354/418/parking-lot-garages-architecture-cesar-bazkez-wallpaper-preview.jpg') no-repeat;
  background-size: cover;
  color: white;
  //text-align: center;
  margin: 0 !important;
  display: flex;
  justify-content: flex-start;

  h1 {
    font-size: 40px;
  }
}

.rentTimeWrapper {
  margin: auto 55px;
  max-width: 500px;

}

::ng-deep .mapboxgl-ctrl-geocoder{
  margin: auto !important;
  min-width: 100% !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
 }

::ng-deep .mat-input-element {
  color: rgba(0, 0, 0, 0.75);
}
.mat-tab-group {
  background: #21303E !important;
}

::ng-deep .mat-tab-label {
  font-weight: bold !important;
  color: white !important;
}
