<div id="home" class="background">
  <div class="rentTimeWrapper">
    <h1>Find parking in seconds</h1>
    <p>Choose from millions of available spaces, or reserve your space in advance.
      Join over 5.5 million drivers enjoying easy parking.</p>
    <!--<mat-tab-group mat-stretch-tabs>-->
    <!--  <mat-tab label="HOURLY/DAILY">-->
    <!--    -->
    <!--  </mat-tab>-->
    <!--  <mat-tab label="MONTHLY">-->
    <!--    -->
    <!--  </mat-tab>
    </mat-tab-group>-->
    <div class="rentTime">
      <div id="geocoder1" class="geocoder">
      </div>
      <mat-form-field class="startRentTime" appearance="outline">
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Start" readonly>
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker>
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field class="startRentTime" appearance="outline">
        <input matInput [ngxMatDatetimePicker]="picker1" placeholder="End" readonly>
        <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1>
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>
</div>


